{% include "./header.html" %}

<form method="post">
    {% csrf_token %}
    <div id="progresso">
        <p>{{ game }} ({{ plataforma }})</p>
        <p>
            <input id="id_finalizado" name="finalizado" type="checkbox" {% if finalizado == True %}checked="checked"{% endif %}>
            <label for="id_finalizado">Finalizado</label>
        </p>
        <p>
            <input id="id_completado" name="completado" type="checkbox" {% if completado == True %}checked="checked"{% endif %}>
            <label for="id_completado">Completado</label>
        </p>
        <p>
            <input id="id_lista_desejos" name="lista_desejos" type="checkbox" {% if lista_desejos == True %}checked="checked"{% endif %}>
            <label for="id_lista_desejos">Lista de desejos</label>
        </p>
        <input type="submit" value="Salvar">
    </div>
</form>

<a href="{{request.META.HTTP_REFERER}}">Voltar</a>
{% if user.is_authenticated %}
{% url 'login:logout' as logout_url %}
<a href="{{ logout_url }}">Logout</a>
{% endif %}
